Repository microsoft/dstoolkit-mlops-v2: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/custom_objectdetection_ci_pipeline.yml, .azure-pipelines/custom_objectdetection_pr_pipeline.yml, .azure-pipelines/diabetes_ci_pipeline.yml, .azure-pipelines/diabetes_pr_pipeline.yml, .azure-pipelines/docker_taxi_cd_pipeline.yml, .azure-pipelines/docker_taxi_ci_pipeline.yml, .azure-pipelines/docker_taxi_pr_pipeline.yml, .azure-pipelines/london_taxi_cd_pipeline.yml, .azure-pipelines/london_taxi_ci_dev_pipeline.yml, .azure-pipelines/london_taxi_ci_pipeline.yml, .azure-pipelines/london_taxi_pr_pipeline.yml, .azure-pipelines/nyc_taxi_ci_pipeline.yml, .azure-pipelines/nyc_taxi_data_pipeline.yml

.azure-pipelines/custom_objectdetection_ci_pipeline.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - template: templates/platform_ci_pipeline.yml
    parameters:
      exec_environment: ${{ parameters.env_name }}
      model_type: ${{ parameters.model_type }}

.azure-pipelines/custom_objectdetection_pr_pipeline.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - template: templates/platform_pr_pipeline.yml
    parameters:
      exec_environment: ${{ parameters.env_name }}
      model_type: ${{ parameters.model_type }}
      is_docker: ${{ parameters.is_docker }}

.azure-pipelines/diabetes_ci_pipeline.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - template: templates/platform_ci_pipeline.yml
    parameters:
      exec_environment: ${{ parameters.env_name }}
      model_type: ${{ parameters.model_type }}

.azure-pipelines/diabetes_pr_pipeline.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - template: templates/platform_pr_pipeline.yml
    parameters:
      exec_environment: ${{ parameters.env_name }}
      model_type: ${{ parameters.model_type }}

.azure-pipelines/docker_taxi_cd_pipeline.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - template: templates/platform_cd_pipeline.yml
    parameters:
      exec_environment: ${{ parameters.env_name }}
      model_type: ${{ parameters.model_type }}

.azure-pipelines/docker_taxi_ci_pipeline.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - template: templates/platform_ci_pipeline.yml
    parameters:
      exec_environment: ${{ parameters.env_name }}
      model_type: ${{ parameters.model_type }}

.azure-pipelines/docker_taxi_pr_pipeline.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - template: templates/platform_pr_pipeline.yml
    parameters:
      exec_environment: ${{ parameters.env_name }}
      model_type: ${{ parameters.model_type }}
      is_docker: ${{ parameters.is_docker }}

.azure-pipelines/london_taxi_cd_pipeline.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - template: templates/platform_cd_pipeline.yml
    parameters:
      exec_environment: ${{ parameters.env_name }}
      model_type: ${{ parameters.model_type }}

.azure-pipelines/london_taxi_ci_dev_pipeline.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - template: ../platform_ci_dev_pipeline.yml
    parameters:
      exec_environment: ${{ parameters.env_name }}
      model_type: ${{ parameters.model_type }}
      is_batch_deployment: ${{ parameters.is_batch_deployment }}

.azure-pipelines/london_taxi_ci_pipeline.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - template: templates/platform_ci_pipeline.yml
    parameters:
      exec_environment: ${{ parameters.env_name }}
      model_type: ${{ parameters.model_type }}

.azure-pipelines/london_taxi_pr_pipeline.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - template: templates/platform_pr_pipeline.yml
    parameters:
      exec_environment: ${{ parameters.env_name }}
      model_type: ${{ parameters.model_type }}

Update the images, and versions in * requirements.txt
  .devcontainer/base/Dockerfile
  .github/requirements/build_validation_requirements.txt
  .github/workflows/build_validation_workflow.yml
  mlops/docker_taxi/environment/Dockerfile
Due: .azure-pipelines/docker_taxi_cd_pipeline.yml, .azure-pipelines/docker_taxi_ci_pipeline.yml, .azure-pipelines/docker_taxi_pr_pipeline.yml

Address codeql code-injection warnings.
  .github/workflows/storage_access_cleanup.yml
Due: none

Update docker and devcontainer to address issues in the PR
  .devcontainer/docker_taxi/devcontainer.json
  mlops/docker_taxi/environment/Dockerfile
Due: .azure-pipelines/docker_taxi_cd_pipeline.yml, .azure-pipelines/docker_taxi_ci_pipeline.yml, .azure-pipelines/docker_taxi_pr_pipeline.yml

Correct the docker path to build_validation_requirements.txt
  .github/workflows/build_validation_workflow.yml
Due: none

Deprecate Bicep infra workflow; Clear azure cli cache before configure_azureml_agent step
  .github/actions/configure_azureml_agent/action.yml
  .github/workflows/infra_provision_bicep.yml
  infra/bicep/README.md
Due: none

Deprecate bicep code
  .github/workflows/infra_provision_bicep.yml
Due: none

Deprecate azure-pipelines and update documentation
  .azure-pipelines/docker_taxi_cd_pipeline.yml
  .azure-pipelines/docker_taxi_ci_pipeline.yml
  .azure-pipelines/infra/bicep/infra_provision_bicep_pipeline.yml
  .azure-pipelines/infra/terraform/infra_provision_terraform_pipeline.yml
  .azure-pipelines/london_taxi_cd_pipeline.yml
  .azure-pipelines/london_taxi_ci_pipeline.yml
  .azure-pipelines/nyc_taxi_cd_pipeline.yml
  .azure-pipelines/nyc_taxi_ci_pipeline.yml
  .azure-pipelines/register_data_assets.yml
  README.md
  docs/how-to/GettingStarted.md
  docs/how-to/OnboardingNewModel.md
  docs/how-to/TestInitialSetup.md
Due: .azure-pipelines/custom_objectdetection_ci_pipeline.yml, .azure-pipelines/custom_objectdetection_pr_pipeline.yml, .azure-pipelines/diabetes_ci_pipeline.yml, .azure-pipelines/diabetes_pr_pipeline.yml, .azure-pipelines/docker_taxi_cd_pipeline.yml, .azure-pipelines/docker_taxi_ci_pipeline.yml, .azure-pipelines/docker_taxi_pr_pipeline.yml, .azure-pipelines/london_taxi_cd_pipeline.yml, .azure-pipelines/london_taxi_ci_dev_pipeline.yml, .azure-pipelines/london_taxi_ci_pipeline.yml, .azure-pipelines/london_taxi_pr_pipeline.yml, .azure-pipelines/nyc_taxi_ci_pipeline.yml, .azure-pipelines/nyc_taxi_data_pipeline.yml

Documenation updates; Note removals of .azure-pipelines and Azure DevOps code
  CONTRIBUTING.md
  docs/how-to/GettingStarted.md
  docs/how-to/OnboardingNewModel.md
  docs/how-to/TestInitialSetup.md
Due: none

Documentation Updates
  CONTRIBUTING.md
Due: none

Add files to .gitignore
  .gitignore
Due: none

Test ability to operate CI without publicNetworkAccess
  .github/workflows/platform_ci_workflow.yml
Due: none

Add code to run d/s jobs when storage access or storage access skip is run
  .github/workflows/platform_ci_workflow.yml
Due: none

Test job orchestration with condition storage access enablement
  .github/workflows/platform_ci_workflow.yml
Due: none

Improved error handling during CD.
  mlops/common/config_utils.py
Due: .azure-pipelines/custom_objectdetection_ci_pipeline.yml, .azure-pipelines/custom_objectdetection_pr_pipeline.yml, .azure-pipelines/diabetes_ci_pipeline.yml, .azure-pipelines/diabetes_pr_pipeline.yml, .azure-pipelines/docker_taxi_cd_pipeline.yml, .azure-pipelines/docker_taxi_ci_pipeline.yml, .azure-pipelines/docker_taxi_pr_pipeline.yml, .azure-pipelines/london_taxi_cd_pipeline.yml, .azure-pipelines/london_taxi_ci_dev_pipeline.yml, .azure-pipelines/london_taxi_ci_pipeline.yml, .azure-pipelines/london_taxi_pr_pipeline.yml, .azure-pipelines/nyc_taxi_ci_pipeline.yml, .azure-pipelines/nyc_taxi_data_pipeline.yml

Test online deployment
  mlops/common/deployment/provision_online_deployment.py
Due: .azure-pipelines/custom_objectdetection_ci_pipeline.yml, .azure-pipelines/custom_objectdetection_pr_pipeline.yml, .azure-pipelines/diabetes_ci_pipeline.yml, .azure-pipelines/diabetes_pr_pipeline.yml, .azure-pipelines/docker_taxi_cd_pipeline.yml, .azure-pipelines/docker_taxi_ci_pipeline.yml, .azure-pipelines/docker_taxi_pr_pipeline.yml, .azure-pipelines/london_taxi_cd_pipeline.yml, .azure-pipelines/london_taxi_ci_dev_pipeline.yml, .azure-pipelines/london_taxi_ci_pipeline.yml, .azure-pipelines/london_taxi_pr_pipeline.yml, .azure-pipelines/nyc_taxi_ci_pipeline.yml, .azure-pipelines/nyc_taxi_data_pipeline.yml

Debug failing online-deployment for london_taxi model
  mlops/common/deployment/provision_online_deployment.py
  model/london_taxi/online/score.py
Due: .azure-pipelines/custom_objectdetection_ci_pipeline.yml, .azure-pipelines/custom_objectdetection_pr_pipeline.yml, .azure-pipelines/diabetes_ci_pipeline.yml, .azure-pipelines/diabetes_pr_pipeline.yml, .azure-pipelines/docker_taxi_cd_pipeline.yml, .azure-pipelines/docker_taxi_ci_pipeline.yml, .azure-pipelines/docker_taxi_pr_pipeline.yml, .azure-pipelines/london_taxi_cd_pipeline.yml, .azure-pipelines/london_taxi_ci_dev_pipeline.yml, .azure-pipelines/london_taxi_ci_pipeline.yml, .azure-pipelines/london_taxi_pr_pipeline.yml, .azure-pipelines/nyc_taxi_ci_pipeline.yml, .azure-pipelines/nyc_taxi_data_pipeline.yml

Test changes to training in cd
  .github/workflows/platform_cd_workflow.yml
Due: none

Python script adjusted
  .github/workflows/platform_cd_workflow.yml
Due: none

Add a co-pilot instructions file to improve GHCP/agent effectiveness
  .github/copilot-instructions.md
Due: none

Fix linting errors in new code
  mlops/common/deployment/provision_online_deployment.py
Due: .azure-pipelines/custom_objectdetection_ci_pipeline.yml, .azure-pipelines/custom_objectdetection_pr_pipeline.yml, .azure-pipelines/diabetes_ci_pipeline.yml, .azure-pipelines/diabetes_pr_pipeline.yml, .azure-pipelines/docker_taxi_cd_pipeline.yml, .azure-pipelines/docker_taxi_ci_pipeline.yml, .azure-pipelines/docker_taxi_pr_pipeline.yml, .azure-pipelines/london_taxi_cd_pipeline.yml, .azure-pipelines/london_taxi_ci_dev_pipeline.yml, .azure-pipelines/london_taxi_ci_pipeline.yml, .azure-pipelines/london_taxi_pr_pipeline.yml, .azure-pipelines/nyc_taxi_ci_pipeline.yml, .azure-pipelines/nyc_taxi_data_pipeline.yml

Update cd to implement the temporary public Network Access enablement
  .github/workflows/platform_cd_workflow.yml
Due: none

Add pr deployment config to allow for IP development targeting a pr environment and not a dev environment
  config/config.yaml
Due: none

Add defensive code to find missing config entries
  mlops/common/deployment/provision_batch_endpoint.py
Due: .azure-pipelines/custom_objectdetection_ci_pipeline.yml, .azure-pipelines/custom_objectdetection_pr_pipeline.yml, .azure-pipelines/diabetes_ci_pipeline.yml, .azure-pipelines/diabetes_pr_pipeline.yml, .azure-pipelines/docker_taxi_cd_pipeline.yml, .azure-pipelines/docker_taxi_ci_pipeline.yml, .azure-pipelines/docker_taxi_pr_pipeline.yml, .azure-pipelines/london_taxi_cd_pipeline.yml, .azure-pipelines/london_taxi_ci_dev_pipeline.yml, .azure-pipelines/london_taxi_ci_pipeline.yml, .azure-pipelines/london_taxi_pr_pipeline.yml, .azure-pipelines/nyc_taxi_ci_pipeline.yml, .azure-pipelines/nyc_taxi_data_pipeline.yml

Added defensive logging
  mlops/common/deployment/provision_online_endpoint.py
Due: .azure-pipelines/custom_objectdetection_ci_pipeline.yml, .azure-pipelines/custom_objectdetection_pr_pipeline.yml, .azure-pipelines/diabetes_ci_pipeline.yml, .azure-pipelines/diabetes_pr_pipeline.yml, .azure-pipelines/docker_taxi_cd_pipeline.yml, .azure-pipelines/docker_taxi_ci_pipeline.yml, .azure-pipelines/docker_taxi_pr_pipeline.yml, .azure-pipelines/london_taxi_cd_pipeline.yml, .azure-pipelines/london_taxi_ci_dev_pipeline.yml, .azure-pipelines/london_taxi_ci_pipeline.yml, .azure-pipelines/london_taxi_pr_pipeline.yml, .azure-pipelines/nyc_taxi_ci_pipeline.yml, .azure-pipelines/nyc_taxi_data_pipeline.yml

test the case-sensitivity of the environment input
  .github/workflows/platform_cd_workflow.yml
Due: none

Add back workflow_call block
  .github/workflows/platform_cd_workflow.yml
Due: none

Fix platform cd since permissions and environment mapping had been removed
  .github/workflows/platform_cd_workflow.yml
Due: none

allow setting of enable_storage_public_access in cd dev deployment
  .github/workflows/platform_cd_workflow.yml
Due: none

add ability to pass public access flag from model to platform on workflow call
  .github/workflows/london_taxi_cd_pipeline.yml
Due: none

Pass the enable_storage_public_access to downstream pipelines
  .github/workflows/london_taxi_cd_pipeline.yml
Due: none

Make exec_environment passed as a variable
  .github/workflows/london_taxi_cd_pipeline.yml
  .github/workflows/platform_cd_workflow.yml
Due: none

Fix storage validation step
  .github/actions/configure_azureml_agent/action.yml
  .github/workflows/platform_cd_workflow.yml
Due: none

Fix Validate step json-parsing issues.
  .github/workflows/platform_cd_workflow.yml
Due: none

Add a local storage validation for online endpoints
  .gitignore
Due: none

Comment out the Validation step - it is challenging to get working
  .github/workflows/london_taxi_cd_pipeline.yml
  .github/workflows/platform_cd_workflow.yml
Due: none

Test docker-taxi-cd
  .github/workflows/docker_taxi_cd_pipeline.yml
Due: none

Fix path to generic platform_cd
  .github/workflows/docker_taxi_cd_pipeline.yml
Due: none

Fix linting errors
  mlops/common/config_utils.py
Due: .azure-pipelines/custom_objectdetection_ci_pipeline.yml, .azure-pipelines/custom_objectdetection_pr_pipeline.yml, .azure-pipelines/diabetes_ci_pipeline.yml, .azure-pipelines/diabetes_pr_pipeline.yml, .azure-pipelines/docker_taxi_cd_pipeline.yml, .azure-pipelines/docker_taxi_ci_pipeline.yml, .azure-pipelines/docker_taxi_pr_pipeline.yml, .azure-pipelines/london_taxi_cd_pipeline.yml, .azure-pipelines/london_taxi_ci_dev_pipeline.yml, .azure-pipelines/london_taxi_ci_pipeline.yml, .azure-pipelines/london_taxi_pr_pipeline.yml, .azure-pipelines/nyc_taxi_ci_pipeline.yml, .azure-pipelines/nyc_taxi_data_pipeline.yml

Enable public storage access
  .github/workflows/docker_taxi_ci_pipeline.yml
  .github/workflows/london_taxi_ci_pipeline.yml
  .github/workflows/sequence_model_ci_pipeline.yml
Due: none

Path conditions:
  .azure-pipelines/custom_objectdetection_ci_pipeline.yml: any of: .azure-pipelines, mlops/common, mlops/custom_objectdetection, src/custom_objectdetection_src, model/custom_objectdetection, src/shared
  .azure-pipelines/custom_objectdetection_pr_pipeline.yml: any of: .azure-pipelines, mlops/common, mlops/custom_objectdetection, src/custom_objectdetection_src, model/custom_objectdetection, src/shared
  .azure-pipelines/diabetes_ci_pipeline.yml: any of: .azure-pipelines, mlops/common, mlops/diabetes, src/diabetes, model/diabetes, src/shared
  .azure-pipelines/diabetes_pr_pipeline.yml: any of: .azure-pipelines, mlops/common, mlops/diabetes, src/diabetes, model/diabetes, src/shared
  .azure-pipelines/docker_taxi_cd_pipeline.yml: any of: .azure-pipelines, mlops/common, mlops/docker_taxi, src/docker_taxi_src, model/docker_taxi, src/shared
  .azure-pipelines/docker_taxi_ci_pipeline.yml: any of: .azure-pipelines, mlops/common, mlops/docker_taxi, src/docker_taxi_src, model/docker_taxi, src/shared
  .azure-pipelines/docker_taxi_pr_pipeline.yml: any of: .azure-pipelines, mlops/common, mlops/docker_taxi, src/docker_taxi_src, model/docker_taxi, src/shared
  .azure-pipelines/london_taxi_cd_pipeline.yml: any of: .azure-pipelines, mlops/common, mlops/london_taxi, src/london_src, model/london_taxi, src/shared
  .azure-pipelines/london_taxi_ci_dev_pipeline.yml: any of: .azure-pipelines, mlops/common, mlops/london_taxi, src/london_src, model/london_taxi, src/shared
  .azure-pipelines/london_taxi_ci_pipeline.yml: any of: .azure-pipelines, mlops/common, mlops/london_taxi, src/london_src, model/london_taxi, src/shared
  .azure-pipelines/london_taxi_pr_pipeline.yml: any of: .azure-pipelines, mlops/common, mlops/london_taxi, src/london_src, model/london_taxi, src/shared
  .azure-pipelines/nyc_taxi_ci_pipeline.yml: any of: .azure-pipelines, mlops/common, mlops/nyc_taxi, src/nyc_src, model/nyc_taxi, src/shared
  .azure-pipelines/nyc_taxi_data_pipeline.yml: any of: .azure-pipelines, mlops/common, mlops/nyc_taxi, src/nyc_src, model/nyc_taxi, src/shared
