Repository microsoft/dstoolkit-mlops-v2: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/custom_objectdetection_ci_pipeline.yml, .azure-pipelines/custom_objectdetection_pr_pipeline.yml, .azure-pipelines/diabetes_ci_pipeline.yml, .azure-pipelines/diabetes_pr_pipeline.yml, .azure-pipelines/docker_taxi_cd_pipeline.yml, .azure-pipelines/docker_taxi_ci_pipeline.yml, .azure-pipelines/docker_taxi_pr_pipeline.yml, .azure-pipelines/london_taxi_cd_pipeline.yml, .azure-pipelines/london_taxi_ci_dev_pipeline.yml, .azure-pipelines/london_taxi_ci_pipeline.yml, .azure-pipelines/london_taxi_pr_pipeline.yml, .azure-pipelines/nyc_taxi_ci_pipeline.yml, .azure-pipelines/nyc_taxi_data_pipeline.yml

Path conditions:
  .azure-pipelines/custom_objectdetection_ci_pipeline.yml: any of: .azure-pipelines, mlops/common, mlops/custom_objectdetection, src/custom_objectdetection_src, model/custom_objectdetection, src/shared
  .azure-pipelines/custom_objectdetection_pr_pipeline.yml: any of: .azure-pipelines, mlops/common, mlops/custom_objectdetection, src/custom_objectdetection_src, model/custom_objectdetection, src/shared
  .azure-pipelines/diabetes_ci_pipeline.yml: any of: .azure-pipelines, mlops/common, mlops/diabetes, src/diabetes, model/diabetes, src/shared
  .azure-pipelines/diabetes_pr_pipeline.yml: any of: .azure-pipelines, mlops/common, mlops/diabetes, src/diabetes, model/diabetes, src/shared
  .azure-pipelines/docker_taxi_cd_pipeline.yml: any of: .azure-pipelines, mlops/common, mlops/docker_taxi, src/docker_taxi_src, model/docker_taxi, src/shared
  .azure-pipelines/docker_taxi_ci_pipeline.yml: any of: .azure-pipelines, mlops/common, mlops/docker_taxi, src/docker_taxi_src, model/docker_taxi, src/shared
  .azure-pipelines/docker_taxi_pr_pipeline.yml: any of: .azure-pipelines, mlops/common, mlops/docker_taxi, src/docker_taxi_src, model/docker_taxi, src/shared
  .azure-pipelines/london_taxi_cd_pipeline.yml: any of: .azure-pipelines, mlops/common, mlops/london_taxi, src/london_src, model/london_taxi, src/shared
  .azure-pipelines/london_taxi_ci_dev_pipeline.yml: any of: .azure-pipelines, mlops/common, mlops/london_taxi, src/london_src, model/london_taxi, src/shared
  .azure-pipelines/london_taxi_ci_pipeline.yml: any of: .azure-pipelines, mlops/common, mlops/london_taxi, src/london_src, model/london_taxi, src/shared
  .azure-pipelines/london_taxi_pr_pipeline.yml: any of: .azure-pipelines, mlops/common, mlops/london_taxi, src/london_src, model/london_taxi, src/shared
  .azure-pipelines/nyc_taxi_ci_pipeline.yml: any of: .azure-pipelines, mlops/common, mlops/nyc_taxi, src/nyc_src, model/nyc_taxi, src/shared
  .azure-pipelines/nyc_taxi_data_pipeline.yml: any of: .azure-pipelines, mlops/common, mlops/nyc_taxi, src/nyc_src, model/nyc_taxi, src/shared

Reimplements shell script with az login step prior to each job submission
  .github/actions/execute_shell_code/action.yml
  .github/workflows/platform_cd_workflow.yml
Due: none

update method signature
  mlops/common/naming_utils.py
  mlops/common/pipeline_job_config.py
  mlops/docker_taxi/src/mlops_pipeline.py
  mlops/london_taxi/src/mlops_pipeline.py
  mlops/nyc_taxi/src/mlops_pipeline.py
Due: .azure-pipelines/custom_objectdetection_ci_pipeline.yml, .azure-pipelines/custom_objectdetection_pr_pipeline.yml, .azure-pipelines/diabetes_ci_pipeline.yml, .azure-pipelines/diabetes_pr_pipeline.yml, .azure-pipelines/docker_taxi_cd_pipeline.yml, .azure-pipelines/docker_taxi_ci_pipeline.yml, .azure-pipelines/docker_taxi_pr_pipeline.yml, .azure-pipelines/london_taxi_cd_pipeline.yml, .azure-pipelines/london_taxi_ci_dev_pipeline.yml, .azure-pipelines/london_taxi_ci_pipeline.yml, .azure-pipelines/london_taxi_pr_pipeline.yml, .azure-pipelines/nyc_taxi_ci_pipeline.yml, .azure-pipelines/nyc_taxi_data_pipeline.yml

update method signatures
  mlops/docker_taxi/src/mlops_pipeline.py
  mlops/london_taxi/src/mlops_pipeline.py
  mlops/nyc_taxi/src/mlops_pipeline.py
Due: .azure-pipelines/docker_taxi_cd_pipeline.yml, .azure-pipelines/docker_taxi_ci_pipeline.yml, .azure-pipelines/docker_taxi_pr_pipeline.yml, .azure-pipelines/london_taxi_cd_pipeline.yml, .azure-pipelines/london_taxi_ci_dev_pipeline.yml, .azure-pipelines/london_taxi_ci_pipeline.yml, .azure-pipelines/london_taxi_pr_pipeline.yml, .azure-pipelines/nyc_taxi_ci_pipeline.yml, .azure-pipelines/nyc_taxi_data_pipeline.yml

Removes manual trigger of CD runs. Adds az login to platform ci to ensure authentication is refreshed
  .github/workflows/platform_ci_workflow.yml
  .github/workflows/sequence_model_cd_pipeline.yml
Due: none

update variable name
  mlops/docker_taxi/src/mlops_pipeline.py
  mlops/london_taxi/src/mlops_pipeline.py
  mlops/nyc_taxi/src/mlops_pipeline.py
Due: .azure-pipelines/docker_taxi_cd_pipeline.yml, .azure-pipelines/docker_taxi_ci_pipeline.yml, .azure-pipelines/docker_taxi_pr_pipeline.yml, .azure-pipelines/london_taxi_cd_pipeline.yml, .azure-pipelines/london_taxi_ci_dev_pipeline.yml, .azure-pipelines/london_taxi_ci_pipeline.yml, .azure-pipelines/london_taxi_pr_pipeline.yml, .azure-pipelines/nyc_taxi_ci_pipeline.yml, .azure-pipelines/nyc_taxi_data_pipeline.yml

loop over components
  mlops/docker_taxi/src/mlops_pipeline.py
  mlops/london_taxi/src/mlops_pipeline.py
  mlops/nyc_taxi/src/mlops_pipeline.py
Due: .azure-pipelines/docker_taxi_cd_pipeline.yml, .azure-pipelines/docker_taxi_ci_pipeline.yml, .azure-pipelines/docker_taxi_pr_pipeline.yml, .azure-pipelines/london_taxi_cd_pipeline.yml, .azure-pipelines/london_taxi_ci_dev_pipeline.yml, .azure-pipelines/london_taxi_ci_pipeline.yml, .azure-pipelines/london_taxi_pr_pipeline.yml, .azure-pipelines/nyc_taxi_ci_pipeline.yml, .azure-pipelines/nyc_taxi_data_pipeline.yml

restore variable type
  mlops/common/pipeline_job_config.py
  mlops/docker_taxi/src/mlops_pipeline.py
  mlops/london_taxi/src/mlops_pipeline.py
  mlops/nyc_taxi/src/mlops_pipeline.py
Due: .azure-pipelines/custom_objectdetection_ci_pipeline.yml, .azure-pipelines/custom_objectdetection_pr_pipeline.yml, .azure-pipelines/diabetes_ci_pipeline.yml, .azure-pipelines/diabetes_pr_pipeline.yml, .azure-pipelines/docker_taxi_cd_pipeline.yml, .azure-pipelines/docker_taxi_ci_pipeline.yml, .azure-pipelines/docker_taxi_pr_pipeline.yml, .azure-pipelines/london_taxi_cd_pipeline.yml, .azure-pipelines/london_taxi_ci_dev_pipeline.yml, .azure-pipelines/london_taxi_ci_pipeline.yml, .azure-pipelines/london_taxi_pr_pipeline.yml, .azure-pipelines/nyc_taxi_ci_pipeline.yml, .azure-pipelines/nyc_taxi_data_pipeline.yml

Daferguson/custom model (#165)
  .github/actions/execute_shell_code/action.yml
  .github/workflows/platform_cd_workflow.yml
  .github/workflows/platform_ci_workflow.yml
  .github/workflows/sequence_model_cd_pipeline.yml
  .github/workflows/sequence_model_ci_pipeline.yml
  config/config.yaml
  mlops/common/config_utils.py
  mlops/sequence_model/components/benchmark.yml
  mlops/sequence_model/components/predict.yml
  mlops/sequence_model/components/register.yml
  mlops/sequence_model/components/score.yml
  mlops/sequence_model/components/train.yml
  mlops/sequence_model/environment/conda.yml
  mlops/sequence_model/environment/reqs.txt
  mlops/sequence_model/src/mlops_pipeline.py
  mlops/sequence_model/start_local_pipeline.py
  model/sequence_model/batch/score.py
  model/sequence_model/batch_environment/conda.yml
  model/sequence_model/batch_test_data/sequence_model.csv
  model/sequence_model/online/score.py
  model/sequence_model/online_environment/conda.yml
  model/sequence_model/online_test_data/sample-request.json
  src/sequence_model/benchmark/__init__.py
  src/sequence_model/benchmark/benchmark.py
  src/sequence_model/common/__init__.py
  src/sequence_model/common/mlflow_ext.py
  src/sequence_model/common/model_config.yml
  src/sequence_model/common/seq_model.py
  src/sequence_model/common/tokenizer.py
  src/sequence_model/predict/__init__.py
  src/sequence_model/predict/predict.py
  src/sequence_model/register/__init__.py
  src/sequence_model/register/register.py
  src/sequence_model/score/__init__.py
  src/sequence_model/score/score.py
  src/sequence_model/train/__init__.py
  src/sequence_model/train/train.py
  test/sequence_model/test_sequence_model_to_delete.py
Due: .azure-pipelines/custom_objectdetection_ci_pipeline.yml, .azure-pipelines/custom_objectdetection_pr_pipeline.yml, .azure-pipelines/diabetes_ci_pipeline.yml, .azure-pipelines/diabetes_pr_pipeline.yml, .azure-pipelines/docker_taxi_cd_pipeline.yml, .azure-pipelines/docker_taxi_ci_pipeline.yml, .azure-pipelines/docker_taxi_pr_pipeline.yml, .azure-pipelines/london_taxi_cd_pipeline.yml, .azure-pipelines/london_taxi_ci_dev_pipeline.yml, .azure-pipelines/london_taxi_ci_pipeline.yml, .azure-pipelines/london_taxi_pr_pipeline.yml, .azure-pipelines/nyc_taxi_ci_pipeline.yml, .azure-pipelines/nyc_taxi_data_pipeline.yml

Reduce Code Duplication (#189)
  .vscode/launch.json
  mlops/common/naming_utils.py
  mlops/common/pipeline_job_config.py
  mlops/common/pipeline_utils.py
  mlops/docker_taxi/src/mlops_pipeline.py
  mlops/docker_taxi/start_local_pipeline.py
  mlops/london_taxi/src/mlops_pipeline.py
  mlops/london_taxi/start_local_pipeline.py
  mlops/nyc_taxi/src/mlops_pipeline.py
  mlops/nyc_taxi/start_local_pipeline.py
Due: .azure-pipelines/custom_objectdetection_ci_pipeline.yml, .azure-pipelines/custom_objectdetection_pr_pipeline.yml, .azure-pipelines/diabetes_ci_pipeline.yml, .azure-pipelines/diabetes_pr_pipeline.yml, .azure-pipelines/docker_taxi_cd_pipeline.yml, .azure-pipelines/docker_taxi_ci_pipeline.yml, .azure-pipelines/docker_taxi_pr_pipeline.yml, .azure-pipelines/london_taxi_cd_pipeline.yml, .azure-pipelines/london_taxi_ci_dev_pipeline.yml, .azure-pipelines/london_taxi_ci_pipeline.yml, .azure-pipelines/london_taxi_pr_pipeline.yml, .azure-pipelines/nyc_taxi_ci_pipeline.yml, .azure-pipelines/nyc_taxi_data_pipeline.yml

temporarily test cd workflow
  .azure-pipelines/docker_taxi_cd_pipeline.yml
Due: .azure-pipelines/custom_objectdetection_ci_pipeline.yml, .azure-pipelines/custom_objectdetection_pr_pipeline.yml, .azure-pipelines/diabetes_ci_pipeline.yml, .azure-pipelines/diabetes_pr_pipeline.yml, .azure-pipelines/docker_taxi_cd_pipeline.yml, .azure-pipelines/docker_taxi_ci_pipeline.yml, .azure-pipelines/docker_taxi_pr_pipeline.yml, .azure-pipelines/london_taxi_cd_pipeline.yml, .azure-pipelines/london_taxi_ci_dev_pipeline.yml, .azure-pipelines/london_taxi_ci_pipeline.yml, .azure-pipelines/london_taxi_pr_pipeline.yml, .azure-pipelines/nyc_taxi_ci_pipeline.yml, .azure-pipelines/nyc_taxi_data_pipeline.yml

restore azure pipeline
  .azure-pipelines/docker_taxi_cd_pipeline.yml
Due: .azure-pipelines/custom_objectdetection_ci_pipeline.yml, .azure-pipelines/custom_objectdetection_pr_pipeline.yml, .azure-pipelines/diabetes_ci_pipeline.yml, .azure-pipelines/diabetes_pr_pipeline.yml, .azure-pipelines/docker_taxi_cd_pipeline.yml, .azure-pipelines/docker_taxi_ci_pipeline.yml, .azure-pipelines/docker_taxi_pr_pipeline.yml, .azure-pipelines/london_taxi_cd_pipeline.yml, .azure-pipelines/london_taxi_ci_dev_pipeline.yml, .azure-pipelines/london_taxi_ci_pipeline.yml, .azure-pipelines/london_taxi_pr_pipeline.yml, .azure-pipelines/nyc_taxi_ci_pipeline.yml, .azure-pipelines/nyc_taxi_data_pipeline.yml

temporarily test workflow
  .github/workflows/docker_taxi_cd_pipeline.yml
Due: none

fix file paths
  docs/how-to/DSScriptInputsAndOutputs.md
  mlops/london_taxi/components/predict.yml
  mlops/london_taxi/components/prep.yml
  mlops/london_taxi/components/register.yml
  mlops/london_taxi/components/score.yml
  mlops/london_taxi/components/train.yml
  mlops/london_taxi/components/transform.yml
  mlops/nyc_taxi/components/predict.yml
  mlops/nyc_taxi/components/prep.yml
  mlops/nyc_taxi/components/register.yml
  mlops/nyc_taxi/components/score.yml
  mlops/nyc_taxi/components/train.yml
  mlops/nyc_taxi/components/transform.yml
Due: .azure-pipelines/london_taxi_cd_pipeline.yml, .azure-pipelines/london_taxi_ci_dev_pipeline.yml, .azure-pipelines/london_taxi_ci_pipeline.yml, .azure-pipelines/london_taxi_pr_pipeline.yml, .azure-pipelines/nyc_taxi_ci_pipeline.yml, .azure-pipelines/nyc_taxi_data_pipeline.yml

restore cd workflow
  .github/workflows/docker_taxi_cd_pipeline.yml
Due: none

try fix cd pipeline and test
  .azure-pipelines/docker_taxi_cd_pipeline.yml
  .github/workflows/platform_cd_workflow.yml
Due: .azure-pipelines/custom_objectdetection_ci_pipeline.yml, .azure-pipelines/custom_objectdetection_pr_pipeline.yml, .azure-pipelines/diabetes_ci_pipeline.yml, .azure-pipelines/diabetes_pr_pipeline.yml, .azure-pipelines/docker_taxi_cd_pipeline.yml, .azure-pipelines/docker_taxi_ci_pipeline.yml, .azure-pipelines/docker_taxi_pr_pipeline.yml, .azure-pipelines/london_taxi_cd_pipeline.yml, .azure-pipelines/london_taxi_ci_dev_pipeline.yml, .azure-pipelines/london_taxi_ci_pipeline.yml, .azure-pipelines/london_taxi_pr_pipeline.yml, .azure-pipelines/nyc_taxi_ci_pipeline.yml, .azure-pipelines/nyc_taxi_data_pipeline.yml

temporarily test pipeline with common folder
  .github/workflows/sequence_model_cd_pipeline.yml
Due: none

update continue on error
  .github/workflows/platform_cd_workflow.yml
Due: none

restire azure pipeline
  .azure-pipelines/docker_taxi_cd_pipeline.yml
Due: .azure-pipelines/custom_objectdetection_ci_pipeline.yml, .azure-pipelines/custom_objectdetection_pr_pipeline.yml, .azure-pipelines/diabetes_ci_pipeline.yml, .azure-pipelines/diabetes_pr_pipeline.yml, .azure-pipelines/docker_taxi_cd_pipeline.yml, .azure-pipelines/docker_taxi_ci_pipeline.yml, .azure-pipelines/docker_taxi_pr_pipeline.yml, .azure-pipelines/london_taxi_cd_pipeline.yml, .azure-pipelines/london_taxi_ci_dev_pipeline.yml, .azure-pipelines/london_taxi_ci_pipeline.yml, .azure-pipelines/london_taxi_pr_pipeline.yml, .azure-pipelines/nyc_taxi_ci_pipeline.yml, .azure-pipelines/nyc_taxi_data_pipeline.yml

temporarily test cd workflow
  .github/workflows/docker_taxi_cd_pipeline.yml
Due: none

update copy common files if error for batch
  .github/workflows/platform_cd_workflow.yml
Due: none

restore cd pipelines
  .github/workflows/docker_taxi_cd_pipeline.yml
  .github/workflows/sequence_model_cd_pipeline.yml
Due: none

try continue on error
  .github/workflows/platform_cd_workflow.yml
Due: none

test cd workflow
  .github/workflows/docker_taxi_cd_pipeline.yml
Due: none

restore
  .github/workflows/docker_taxi_cd_pipeline.yml
Due: none

Update README.md
  README.md
Due: none

add ci pipeline
  .github/workflows/invoice_processing_ci_pipeline.yml
Due: none

fix linter
  mlops/invoice_processing/src/mlops_pipeline.py
  src/invoice_processing/predict_component/predict/data_extraction/config/configuration_container.py
  src/invoice_processing/predict_component/predict/data_extraction/data_extractor_factory.py
  src/invoice_processing/predict_component/predict/data_extraction/extractors/base_extractor.py
  src/invoice_processing/predict_component/predict/data_extraction/extractors/gpt_only_extractor.py
  src/invoice_processing/predict_component/predict/data_extraction/models/extraction_response.py
  src/invoice_processing/predict_component/predict/data_extraction/prompts/prompt_manager.py
  src/invoice_processing/predict_component/predict/helpers.py
  src/invoice_processing/predict_component/predict/mlflow_logger.py
  src/invoice_processing/predict_component/predict/predict.py
  src/invoice_processing/prep_component/prep/prep.py
  src/invoice_processing/score_component/score/extraction_evaluator.py
  src/invoice_processing/score_component/score/matchers/amount_exact_matcher.py
  src/invoice_processing/score_component/score/matchers/base_matcher.py
  src/invoice_processing/score_component/score/matchers/date_exact_matcher.py
  src/invoice_processing/score_component/score/matchers/levenshtein_matcher.py
  src/invoice_processing/score_component/score/matchers/text_exact_matcher.py
  src/invoice_processing/score_component/score/score.py
  src/invoice_processing/score_component/score/utils.py
Due: none

fix linter
  src/invoice_processing/predict_component/predict/data_extraction/config/configuration_container.py
  src/invoice_processing/predict_component/predict/data_extraction/data_extractor_factory.py
  src/invoice_processing/predict_component/predict/data_extraction/prompts/prompt_manager.py
  src/invoice_processing/score_component/score/matchers/date_exact_matcher.py
  src/invoice_processing/score_component/score/matchers/levenshtein_matcher.py
  src/invoice_processing/score_component/score/matchers/text_exact_matcher.py
  src/invoice_processing/score_component/score/utils.py
Due: none

fix linter last time
  src/invoice_processing/predict_component/predict/data_extraction/config/configuration_container.py
Due: none

add python path src
  .github/workflows/build_validation_workflow.yml
Due: none

update requirememnts files
  .github/requirements/build_validation_requirements.txt
  .github/requirements/execute_job_requirements.txt
Due: none

random change for test
  src/london_src/predict/predict.py
Due: .azure-pipelines/london_taxi_cd_pipeline.yml, .azure-pipelines/london_taxi_ci_dev_pipeline.yml, .azure-pipelines/london_taxi_ci_pipeline.yml, .azure-pipelines/london_taxi_pr_pipeline.yml

add clear azure cache
  .github/actions/configure_azureml_agent/action.yml
  .github/actions/execute_shell_code/action.yml
Due: none

fix add shell to action
  .github/actions/configure_azureml_agent/action.yml
  .github/actions/execute_shell_code/action.yml
Due: none

revert configure change
  .github/actions/configure_azureml_agent/action.yml
Due: none

try fix
  .github/requirements/execute_job_requirements.txt
Due: none

change to strings
  config/experiment_config.yaml
Due: none

fix
  config/experiment_config.yaml
  mlops/common/config_utils.py
Due: .azure-pipelines/custom_objectdetection_ci_pipeline.yml, .azure-pipelines/custom_objectdetection_pr_pipeline.yml, .azure-pipelines/diabetes_ci_pipeline.yml, .azure-pipelines/diabetes_pr_pipeline.yml, .azure-pipelines/docker_taxi_cd_pipeline.yml, .azure-pipelines/docker_taxi_ci_pipeline.yml, .azure-pipelines/docker_taxi_pr_pipeline.yml, .azure-pipelines/london_taxi_cd_pipeline.yml, .azure-pipelines/london_taxi_ci_dev_pipeline.yml, .azure-pipelines/london_taxi_ci_pipeline.yml, .azure-pipelines/london_taxi_pr_pipeline.yml, .azure-pipelines/nyc_taxi_ci_pipeline.yml, .azure-pipelines/nyc_taxi_data_pipeline.yml
