Repository microsoft/dstoolkit-mlops-v2: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/custom_objectdetection_ci_pipeline.yml, .azure-pipelines/custom_objectdetection_pr_pipeline.yml, .azure-pipelines/diabetes_ci_pipeline.yml, .azure-pipelines/diabetes_pr_pipeline.yml, .azure-pipelines/docker_taxi_ci_pipeline.yml, .azure-pipelines/docker_taxi_pr_pipeline.yml, .azure-pipelines/london_taxi_cd_pipeline.yml, .azure-pipelines/london_taxi_ci_dev_pipeline.yml, .azure-pipelines/london_taxi_ci_pipeline.yml, .azure-pipelines/nyc_taxi_ci_pipeline.yml, .azure-pipelines/nyc_taxi_data_pipeline.yml

.azure-pipelines/custom_objectdetection_ci_pipeline.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - template: templates/platform_ci_pipeline.yml
    parameters:
      exec_environment: ${{ parameters.env_name }}
      model_type: ${{ parameters.model_type }}

.azure-pipelines/custom_objectdetection_pr_pipeline.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - template: templates/platform_pr_pipeline.yml
    parameters:
      exec_environment: ${{ parameters.env_name }}
      model_type: ${{ parameters.model_type }}
      is_docker: ${{ parameters.is_docker }}

.azure-pipelines/diabetes_ci_pipeline.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - template: templates/platform_ci_pipeline.yml
    parameters:
      exec_environment: ${{ parameters.env_name }}
      model_type: ${{ parameters.model_type }}

.azure-pipelines/diabetes_pr_pipeline.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - template: templates/platform_pr_pipeline.yml
    parameters:
      exec_environment: ${{ parameters.env_name }}
      model_type: ${{ parameters.model_type }}

.azure-pipelines/docker_taxi_ci_pipeline.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - template: templates/platform_ci_pipeline.yml
    parameters:
      exec_environment: ${{ parameters.env_name }}
      model_type: ${{ parameters.model_type }}

.azure-pipelines/docker_taxi_pr_pipeline.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - template: templates/platform_pr_pipeline.yml
    parameters:
      exec_environment: ${{ parameters.env_name }}
      model_type: ${{ parameters.model_type }}
      is_docker: ${{ parameters.is_docker }}

.azure-pipelines/london_taxi_cd_pipeline.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - template: templates/platform_cd_pipeline.yml
    parameters:
      exec_environment: ${{ parameters.env_name }}
      model_type: ${{ parameters.model_type }}

.azure-pipelines/london_taxi_ci_dev_pipeline.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - template: ../platform_ci_dev_pipeline.yml
    parameters:
      exec_environment: ${{ parameters.env_name }}
      model_type: ${{ parameters.model_type }}
      is_batch_deployment: ${{ parameters.is_batch_deployment }}

.azure-pipelines/london_taxi_ci_pipeline.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - template: templates/platform_ci_pipeline.yml
    parameters:
      exec_environment: ${{ parameters.env_name }}
      model_type: ${{ parameters.model_type }}

.azure-pipelines/nyc_taxi_ci_pipeline.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - template: templates/platform_ci_pipeline.yml
    parameters:
      exec_environment: ${{ parameters.env_name }}
      model_type: ${{ parameters.model_type }}

Fix invalid experiment name (#180)
  mlops/common/naming_utils.py
Due: .azure-pipelines/custom_objectdetection_ci_pipeline.yml, .azure-pipelines/custom_objectdetection_pr_pipeline.yml, .azure-pipelines/diabetes_ci_pipeline.yml, .azure-pipelines/diabetes_pr_pipeline.yml, .azure-pipelines/docker_taxi_ci_pipeline.yml, .azure-pipelines/docker_taxi_pr_pipeline.yml, .azure-pipelines/london_taxi_cd_pipeline.yml, .azure-pipelines/london_taxi_ci_dev_pipeline.yml, .azure-pipelines/london_taxi_ci_pipeline.yml, .azure-pipelines/nyc_taxi_ci_pipeline.yml, .azure-pipelines/nyc_taxi_data_pipeline.yml

t
  .azure-pipelines/requirements/build_validation_requirements.txt
  .azure-pipelines/requirements/execute_job_requirements.txt
Due: .azure-pipelines/custom_objectdetection_ci_pipeline.yml, .azure-pipelines/custom_objectdetection_pr_pipeline.yml, .azure-pipelines/diabetes_ci_pipeline.yml, .azure-pipelines/diabetes_pr_pipeline.yml, .azure-pipelines/docker_taxi_ci_pipeline.yml, .azure-pipelines/docker_taxi_pr_pipeline.yml, .azure-pipelines/london_taxi_cd_pipeline.yml, .azure-pipelines/london_taxi_ci_dev_pipeline.yml, .azure-pipelines/london_taxi_ci_pipeline.yml, .azure-pipelines/nyc_taxi_ci_pipeline.yml, .azure-pipelines/nyc_taxi_data_pipeline.yml

Update msal version
  .azure-pipelines/requirements/build_validation_requirements.txt
  .azure-pipelines/requirements/execute_job_requirements.txt
Due: .azure-pipelines/custom_objectdetection_ci_pipeline.yml, .azure-pipelines/custom_objectdetection_pr_pipeline.yml, .azure-pipelines/diabetes_ci_pipeline.yml, .azure-pipelines/diabetes_pr_pipeline.yml, .azure-pipelines/docker_taxi_ci_pipeline.yml, .azure-pipelines/docker_taxi_pr_pipeline.yml, .azure-pipelines/london_taxi_cd_pipeline.yml, .azure-pipelines/london_taxi_ci_dev_pipeline.yml, .azure-pipelines/london_taxi_ci_pipeline.yml, .azure-pipelines/nyc_taxi_ci_pipeline.yml, .azure-pipelines/nyc_taxi_data_pipeline.yml

Update versions
  .azure-pipelines/requirements/build_validation_requirements.txt
  .azure-pipelines/requirements/execute_job_requirements.txt
Due: .azure-pipelines/custom_objectdetection_ci_pipeline.yml, .azure-pipelines/custom_objectdetection_pr_pipeline.yml, .azure-pipelines/diabetes_ci_pipeline.yml, .azure-pipelines/diabetes_pr_pipeline.yml, .azure-pipelines/docker_taxi_ci_pipeline.yml, .azure-pipelines/docker_taxi_pr_pipeline.yml, .azure-pipelines/london_taxi_cd_pipeline.yml, .azure-pipelines/london_taxi_ci_dev_pipeline.yml, .azure-pipelines/london_taxi_ci_pipeline.yml, .azure-pipelines/nyc_taxi_ci_pipeline.yml, .azure-pipelines/nyc_taxi_data_pipeline.yml

Update mlfow
  .azure-pipelines/requirements/build_validation_requirements.txt
  .azure-pipelines/requirements/execute_job_requirements.txt
Due: .azure-pipelines/custom_objectdetection_ci_pipeline.yml, .azure-pipelines/custom_objectdetection_pr_pipeline.yml, .azure-pipelines/diabetes_ci_pipeline.yml, .azure-pipelines/diabetes_pr_pipeline.yml, .azure-pipelines/docker_taxi_ci_pipeline.yml, .azure-pipelines/docker_taxi_pr_pipeline.yml, .azure-pipelines/london_taxi_cd_pipeline.yml, .azure-pipelines/london_taxi_ci_dev_pipeline.yml, .azure-pipelines/london_taxi_ci_pipeline.yml, .azure-pipelines/nyc_taxi_ci_pipeline.yml, .azure-pipelines/nyc_taxi_data_pipeline.yml

Add msal
  .azure-pipelines/requirements/build_validation_requirements.txt
  .azure-pipelines/requirements/execute_job_requirements.txt
Due: .azure-pipelines/custom_objectdetection_ci_pipeline.yml, .azure-pipelines/custom_objectdetection_pr_pipeline.yml, .azure-pipelines/diabetes_ci_pipeline.yml, .azure-pipelines/diabetes_pr_pipeline.yml, .azure-pipelines/docker_taxi_ci_pipeline.yml, .azure-pipelines/docker_taxi_pr_pipeline.yml, .azure-pipelines/london_taxi_cd_pipeline.yml, .azure-pipelines/london_taxi_ci_dev_pipeline.yml, .azure-pipelines/london_taxi_ci_pipeline.yml, .azure-pipelines/nyc_taxi_ci_pipeline.yml, .azure-pipelines/nyc_taxi_data_pipeline.yml

t
  config/config.yaml
  mlops/london_taxi/src/mlops_pipeline.py
Due: .azure-pipelines/london_taxi_cd_pipeline.yml, .azure-pipelines/london_taxi_ci_dev_pipeline.yml, .azure-pipelines/london_taxi_ci_pipeline.yml

t
  .azure-pipelines/requirements/execute_job_requirements.txt
Due: .azure-pipelines/custom_objectdetection_ci_pipeline.yml, .azure-pipelines/custom_objectdetection_pr_pipeline.yml, .azure-pipelines/diabetes_ci_pipeline.yml, .azure-pipelines/diabetes_pr_pipeline.yml, .azure-pipelines/docker_taxi_ci_pipeline.yml, .azure-pipelines/docker_taxi_pr_pipeline.yml, .azure-pipelines/london_taxi_cd_pipeline.yml, .azure-pipelines/london_taxi_ci_dev_pipeline.yml, .azure-pipelines/london_taxi_ci_pipeline.yml, .azure-pipelines/nyc_taxi_ci_pipeline.yml, .azure-pipelines/nyc_taxi_data_pipeline.yml

updated docker file and removed pre commit install
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Due: none

Inits common directory for nyc model
  src/nyc_src/common/.gitkeep
Due: .azure-pipelines/nyc_taxi_ci_pipeline.yml, .azure-pipelines/nyc_taxi_data_pipeline.yml

initial add pipeline_utils and update london_taxi
  .vscode/launch.json
  mlops/common/pipeline_utils.py
  mlops/london_taxi/src/mlops_pipeline.py
  mlops/london_taxi/start_local_pipeline.py
Due: .azure-pipelines/custom_objectdetection_ci_pipeline.yml, .azure-pipelines/custom_objectdetection_pr_pipeline.yml, .azure-pipelines/diabetes_ci_pipeline.yml, .azure-pipelines/diabetes_pr_pipeline.yml, .azure-pipelines/docker_taxi_ci_pipeline.yml, .azure-pipelines/docker_taxi_pr_pipeline.yml, .azure-pipelines/london_taxi_cd_pipeline.yml, .azure-pipelines/london_taxi_ci_dev_pipeline.yml, .azure-pipelines/london_taxi_ci_pipeline.yml, .azure-pipelines/nyc_taxi_ci_pipeline.yml, .azure-pipelines/nyc_taxi_data_pipeline.yml

Renames src folders to be consistent with model name convention
  src/london_taxi/__init__.py
  src/london_taxi/predict/__init__.py
  src/london_taxi/predict/predict.py
  src/london_taxi/prep/__init__.py
  src/london_taxi/prep/prep.py
  src/london_taxi/register/__init__.py
  src/london_taxi/register/register.py
  src/london_taxi/score/__init__.py
  src/london_taxi/score/score.py
  src/london_taxi/train/__init__.py
  src/london_taxi/train/train.py
  src/london_taxi/transform/__init__.py
  src/london_taxi/transform/transform.py
  src/nyc_taxi/__init__.py
  src/nyc_taxi/common/.gitkeep
  src/nyc_taxi/predict/__init__.py
  src/nyc_taxi/predict/predict.py
  src/nyc_taxi/prep/__init__.py
  src/nyc_taxi/prep/prep.py
  src/nyc_taxi/register/__init__.py
  src/nyc_taxi/register/register.py
  src/nyc_taxi/score/__init__.py
  src/nyc_taxi/score/score.py
  src/nyc_taxi/train/__init__.py
  src/nyc_taxi/train/train.py
  src/nyc_taxi/transform/__init__.py
  src/nyc_taxi/transform/transform.py
Due: none

Updates component module path to reflect name change
  mlops/london_taxi/components/predict.yml
  mlops/london_taxi/components/prep.yml
  mlops/london_taxi/components/register.yml
  mlops/london_taxi/components/score.yml
  mlops/london_taxi/components/train.yml
  mlops/london_taxi/components/transform.yml
  mlops/nyc_taxi/components/predict.yml
  mlops/nyc_taxi/components/prep.yml
  mlops/nyc_taxi/components/register.yml
  mlops/nyc_taxi/components/score.yml
  mlops/nyc_taxi/components/train.yml
  mlops/nyc_taxi/components/transform.yml
Due: .azure-pipelines/london_taxi_cd_pipeline.yml, .azure-pipelines/london_taxi_ci_dev_pipeline.yml, .azure-pipelines/london_taxi_ci_pipeline.yml, .azure-pipelines/nyc_taxi_ci_pipeline.yml, .azure-pipelines/nyc_taxi_data_pipeline.yml

t
  mlops/london_taxi/src/mlops_pipeline.py
Due: .azure-pipelines/london_taxi_cd_pipeline.yml, .azure-pipelines/london_taxi_ci_dev_pipeline.yml, .azure-pipelines/london_taxi_ci_pipeline.yml

Adds readme file describing intent of common folder
  src/london_taxi/common/.gitkeep
  src/london_taxi/common/README.md
  src/nyc_taxi/common/README.md
Due: none

Updated dependencies
  .github/requirements/build_validation_requirements.txt
  .github/requirements/execute_job_requirements.txt
Due: none

t
  .github/requirements/execute_job_requirements.txt
Due: none

t
  .github/requirements/build_validation_requirements.txt
Due: none

Updated versions
  .devcontainer/requirements.txt
Due: none

Updates check for directory
  .github/workflows/platform_ci_workflow.yml
Due: none

Updates copy to only copy existing files
  .github/workflows/platform_ci_workflow.yml
Due: none

restore pipeline triggers
  .github/workflows/register_data_assets.yml
Due: none

Fixes flag to check for directory existence
  .github/workflows/platform_ci_workflow.yml
Due: none

Updated Dev Container (#175)
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/requirements.txt
Due: none

WIP add pipeline properties and update docstrings
  mlops/common/pipeline_utils.py
  mlops/london_taxi/src/mlops_pipeline.py
Due: .azure-pipelines/custom_objectdetection_ci_pipeline.yml, .azure-pipelines/custom_objectdetection_pr_pipeline.yml, .azure-pipelines/diabetes_ci_pipeline.yml, .azure-pipelines/diabetes_pr_pipeline.yml, .azure-pipelines/docker_taxi_ci_pipeline.yml, .azure-pipelines/docker_taxi_pr_pipeline.yml, .azure-pipelines/london_taxi_cd_pipeline.yml, .azure-pipelines/london_taxi_ci_dev_pipeline.yml, .azure-pipelines/london_taxi_ci_pipeline.yml, .azure-pipelines/nyc_taxi_ci_pipeline.yml, .azure-pipelines/nyc_taxi_data_pipeline.yml

Merge in latest
  mlops/common/pipeline_utils.py
Due: .azure-pipelines/custom_objectdetection_ci_pipeline.yml, .azure-pipelines/custom_objectdetection_pr_pipeline.yml, .azure-pipelines/diabetes_ci_pipeline.yml, .azure-pipelines/diabetes_pr_pipeline.yml, .azure-pipelines/docker_taxi_ci_pipeline.yml, .azure-pipelines/docker_taxi_pr_pipeline.yml, .azure-pipelines/london_taxi_cd_pipeline.yml, .azure-pipelines/london_taxi_ci_dev_pipeline.yml, .azure-pipelines/london_taxi_ci_pipeline.yml, .azure-pipelines/nyc_taxi_ci_pipeline.yml, .azure-pipelines/nyc_taxi_data_pipeline.yml

move environment to pipeline_utils and add class properties
  mlops/common/pipeline_utils.py
  mlops/london_taxi/src/mlops_pipeline.py
Due: .azure-pipelines/custom_objectdetection_ci_pipeline.yml, .azure-pipelines/custom_objectdetection_pr_pipeline.yml, .azure-pipelines/diabetes_ci_pipeline.yml, .azure-pipelines/diabetes_pr_pipeline.yml, .azure-pipelines/docker_taxi_ci_pipeline.yml, .azure-pipelines/docker_taxi_pr_pipeline.yml, .azure-pipelines/london_taxi_cd_pipeline.yml, .azure-pipelines/london_taxi_ci_dev_pipeline.yml, .azure-pipelines/london_taxi_ci_pipeline.yml, .azure-pipelines/nyc_taxi_ci_pipeline.yml, .azure-pipelines/nyc_taxi_data_pipeline.yml

update naming utils for environment name
  mlops/common/naming_utils.py
  mlops/common/pipeline_utils.py
Due: .azure-pipelines/custom_objectdetection_ci_pipeline.yml, .azure-pipelines/custom_objectdetection_pr_pipeline.yml, .azure-pipelines/diabetes_ci_pipeline.yml, .azure-pipelines/diabetes_pr_pipeline.yml, .azure-pipelines/docker_taxi_ci_pipeline.yml, .azure-pipelines/docker_taxi_pr_pipeline.yml, .azure-pipelines/london_taxi_cd_pipeline.yml, .azure-pipelines/london_taxi_ci_dev_pipeline.yml, .azure-pipelines/london_taxi_ci_pipeline.yml, .azure-pipelines/nyc_taxi_ci_pipeline.yml, .azure-pipelines/nyc_taxi_data_pipeline.yml

feedback
  README.md
Due: none

update nyc_taxi
  .vscode/launch.json
  mlops/common/naming_utils.py
  mlops/london_taxi/src/mlops_pipeline.py
  mlops/nyc_taxi/src/mlops_pipeline.py
Due: .azure-pipelines/custom_objectdetection_ci_pipeline.yml, .azure-pipelines/custom_objectdetection_pr_pipeline.yml, .azure-pipelines/diabetes_ci_pipeline.yml, .azure-pipelines/diabetes_pr_pipeline.yml, .azure-pipelines/docker_taxi_ci_pipeline.yml, .azure-pipelines/docker_taxi_pr_pipeline.yml, .azure-pipelines/london_taxi_cd_pipeline.yml, .azure-pipelines/london_taxi_ci_dev_pipeline.yml, .azure-pipelines/london_taxi_ci_pipeline.yml, .azure-pipelines/nyc_taxi_ci_pipeline.yml, .azure-pipelines/nyc_taxi_data_pipeline.yml

Path conditions:
  .azure-pipelines/custom_objectdetection_ci_pipeline.yml: any of: .azure-pipelines, mlops/common, mlops/custom_objectdetection, src/custom_objectdetection_src, model/custom_objectdetection, src/shared
  .azure-pipelines/custom_objectdetection_pr_pipeline.yml: any of: .azure-pipelines, mlops/common, mlops/custom_objectdetection, src/custom_objectdetection_src, model/custom_objectdetection, src/shared
  .azure-pipelines/diabetes_ci_pipeline.yml: any of: .azure-pipelines, mlops/common, mlops/diabetes, src/diabetes, model/diabetes, src/shared
  .azure-pipelines/diabetes_pr_pipeline.yml: any of: .azure-pipelines, mlops/common, mlops/diabetes, src/diabetes, model/diabetes, src/shared
  .azure-pipelines/docker_taxi_ci_pipeline.yml: any of: .azure-pipelines, mlops/common, mlops/docker_taxi, src/docker_taxi_src, model/docker_taxi, src/shared
  .azure-pipelines/docker_taxi_pr_pipeline.yml: any of: .azure-pipelines, mlops/common, mlops/docker_taxi, src/docker_taxi_src, model/docker_taxi, src/shared
  .azure-pipelines/london_taxi_cd_pipeline.yml: any of: .azure-pipelines, mlops/common, mlops/london_taxi, src/london_src, model/london_taxi, src/shared
  .azure-pipelines/london_taxi_ci_dev_pipeline.yml: any of: .azure-pipelines, mlops/common, mlops/london_taxi, src/london_src, model/london_taxi, src/shared
  .azure-pipelines/london_taxi_ci_pipeline.yml: any of: .azure-pipelines, mlops/common, mlops/london_taxi, src/london_src, model/london_taxi, src/shared
  .azure-pipelines/nyc_taxi_ci_pipeline.yml: any of: .azure-pipelines, mlops/common, mlops/nyc_taxi, src/nyc_src, model/nyc_taxi, src/shared
  .azure-pipelines/nyc_taxi_data_pipeline.yml: any of: .azure-pipelines, mlops/common, mlops/nyc_taxi, src/nyc_src, model/nyc_taxi, src/shared
