Repository microsoft/dstoolkit-mlops-v2: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/custom_objectdetection_ci_pipeline.yml, .azure-pipelines/custom_objectdetection_pr_pipeline.yml, .azure-pipelines/diabetes_ci_pipeline.yml, .azure-pipelines/diabetes_pr_pipeline.yml, .azure-pipelines/docker_taxi_ci_pipeline.yml, .azure-pipelines/docker_taxi_pr_pipeline.yml, .azure-pipelines/london_taxi_cd_pipeline.yml, .azure-pipelines/london_taxi_ci_dev_pipeline.yml, .azure-pipelines/london_taxi_ci_pipeline.yml, .azure-pipelines/london_taxi_pr_pipeline.yml, .azure-pipelines/nyc_taxi_ci_pipeline.yml, .azure-pipelines/nyc_taxi_data_pipeline.yml

Path conditions:
  .azure-pipelines/custom_objectdetection_ci_pipeline.yml: any of: .azure-pipelines, mlops/common, mlops/custom_objectdetection, src/custom_objectdetection_src, model/custom_objectdetection, src/shared
  .azure-pipelines/custom_objectdetection_pr_pipeline.yml: any of: .azure-pipelines, mlops/common, mlops/custom_objectdetection, src/custom_objectdetection_src, model/custom_objectdetection, src/shared
  .azure-pipelines/diabetes_ci_pipeline.yml: any of: .azure-pipelines, mlops/common, mlops/diabetes, src/diabetes, model/diabetes, src/shared
  .azure-pipelines/diabetes_pr_pipeline.yml: any of: .azure-pipelines, mlops/common, mlops/diabetes, src/diabetes, model/diabetes, src/shared
  .azure-pipelines/docker_taxi_ci_pipeline.yml: any of: .azure-pipelines, mlops/common, mlops/docker_taxi, src/docker_taxi_src, model/docker_taxi, src/shared
  .azure-pipelines/docker_taxi_pr_pipeline.yml: any of: .azure-pipelines, mlops/common, mlops/docker_taxi, src/docker_taxi_src, model/docker_taxi, src/shared
  .azure-pipelines/london_taxi_cd_pipeline.yml: any of: .azure-pipelines, mlops/common, mlops/london_taxi, src/london_src, model/london_taxi, src/shared
  .azure-pipelines/london_taxi_ci_dev_pipeline.yml: any of: .azure-pipelines, mlops/common, mlops/london_taxi, src/london_src, model/london_taxi, src/shared
  .azure-pipelines/london_taxi_ci_pipeline.yml: any of: .azure-pipelines, mlops/common, mlops/london_taxi, src/london_src, model/london_taxi, src/shared
  .azure-pipelines/london_taxi_pr_pipeline.yml: any of: .azure-pipelines, mlops/common, mlops/london_taxi, src/london_src, model/london_taxi, src/shared
  .azure-pipelines/nyc_taxi_ci_pipeline.yml: any of: .azure-pipelines, mlops/common, mlops/nyc_taxi, src/nyc_src, model/nyc_taxi, src/shared
  .azure-pipelines/nyc_taxi_data_pipeline.yml: any of: .azure-pipelines, mlops/common, mlops/nyc_taxi, src/nyc_src, model/nyc_taxi, src/shared

extended class
  mlops/common/pipeline.py
  mlops/common/pipeline_utils.py
  mlops/london_taxi/src/mlops_pipeline.py
  mlops/nyc_taxi/src/mlops_pipeline.py
Due: .azure-pipelines/custom_objectdetection_ci_pipeline.yml, .azure-pipelines/custom_objectdetection_pr_pipeline.yml, .azure-pipelines/diabetes_ci_pipeline.yml, .azure-pipelines/diabetes_pr_pipeline.yml, .azure-pipelines/docker_taxi_ci_pipeline.yml, .azure-pipelines/docker_taxi_pr_pipeline.yml, .azure-pipelines/london_taxi_cd_pipeline.yml, .azure-pipelines/london_taxi_ci_dev_pipeline.yml, .azure-pipelines/london_taxi_ci_pipeline.yml, .azure-pipelines/london_taxi_pr_pipeline.yml, .azure-pipelines/nyc_taxi_ci_pipeline.yml, .azure-pipelines/nyc_taxi_data_pipeline.yml

rename
  mlops/common/pipeline_job_config.py
  mlops/london_taxi/src/mlops_pipeline.py
  mlops/nyc_taxi/src/mlops_pipeline.py
Due: .azure-pipelines/custom_objectdetection_ci_pipeline.yml, .azure-pipelines/custom_objectdetection_pr_pipeline.yml, .azure-pipelines/diabetes_ci_pipeline.yml, .azure-pipelines/diabetes_pr_pipeline.yml, .azure-pipelines/docker_taxi_ci_pipeline.yml, .azure-pipelines/docker_taxi_pr_pipeline.yml, .azure-pipelines/london_taxi_cd_pipeline.yml, .azure-pipelines/london_taxi_ci_dev_pipeline.yml, .azure-pipelines/london_taxi_ci_pipeline.yml, .azure-pipelines/london_taxi_pr_pipeline.yml, .azure-pipelines/nyc_taxi_ci_pipeline.yml, .azure-pipelines/nyc_taxi_data_pipeline.yml

update docstrings
  mlops/london_taxi/src/mlops_pipeline.py
  mlops/nyc_taxi/src/mlops_pipeline.py
Due: .azure-pipelines/london_taxi_cd_pipeline.yml, .azure-pipelines/london_taxi_ci_dev_pipeline.yml, .azure-pipelines/london_taxi_ci_pipeline.yml, .azure-pipelines/london_taxi_pr_pipeline.yml, .azure-pipelines/nyc_taxi_ci_pipeline.yml, .azure-pipelines/nyc_taxi_data_pipeline.yml

update docker_taxi
  .vscode/launch.json
  mlops/common/pipeline_utils.py
  mlops/docker_taxi/src/mlops_pipeline.py
Due: .azure-pipelines/custom_objectdetection_ci_pipeline.yml, .azure-pipelines/custom_objectdetection_pr_pipeline.yml, .azure-pipelines/diabetes_ci_pipeline.yml, .azure-pipelines/diabetes_pr_pipeline.yml, .azure-pipelines/docker_taxi_ci_pipeline.yml, .azure-pipelines/docker_taxi_pr_pipeline.yml, .azure-pipelines/london_taxi_cd_pipeline.yml, .azure-pipelines/london_taxi_ci_dev_pipeline.yml, .azure-pipelines/london_taxi_ci_pipeline.yml, .azure-pipelines/london_taxi_pr_pipeline.yml, .azure-pipelines/nyc_taxi_ci_pipeline.yml, .azure-pipelines/nyc_taxi_data_pipeline.yml

make tags dynamic
  mlops/common/pipeline_utils.py
Due: .azure-pipelines/custom_objectdetection_ci_pipeline.yml, .azure-pipelines/custom_objectdetection_pr_pipeline.yml, .azure-pipelines/diabetes_ci_pipeline.yml, .azure-pipelines/diabetes_pr_pipeline.yml, .azure-pipelines/docker_taxi_ci_pipeline.yml, .azure-pipelines/docker_taxi_pr_pipeline.yml, .azure-pipelines/london_taxi_cd_pipeline.yml, .azure-pipelines/london_taxi_ci_dev_pipeline.yml, .azure-pipelines/london_taxi_ci_pipeline.yml, .azure-pipelines/london_taxi_pr_pipeline.yml, .azure-pipelines/nyc_taxi_ci_pipeline.yml, .azure-pipelines/nyc_taxi_data_pipeline.yml

run black and update docstrings
  mlops/common/pipeline_job_config.py
  mlops/common/pipeline_utils.py
  mlops/docker_taxi/src/mlops_pipeline.py
  mlops/london_taxi/src/mlops_pipeline.py
  mlops/nyc_taxi/src/mlops_pipeline.py
Due: .azure-pipelines/custom_objectdetection_ci_pipeline.yml, .azure-pipelines/custom_objectdetection_pr_pipeline.yml, .azure-pipelines/diabetes_ci_pipeline.yml, .azure-pipelines/diabetes_pr_pipeline.yml, .azure-pipelines/docker_taxi_ci_pipeline.yml, .azure-pipelines/docker_taxi_pr_pipeline.yml, .azure-pipelines/london_taxi_cd_pipeline.yml, .azure-pipelines/london_taxi_ci_dev_pipeline.yml, .azure-pipelines/london_taxi_ci_pipeline.yml, .azure-pipelines/london_taxi_pr_pipeline.yml, .azure-pipelines/nyc_taxi_ci_pipeline.yml, .azure-pipelines/nyc_taxi_data_pipeline.yml

formats by black
  mlops/london_taxi/src/mlops_pipeline.py
  mlops/nyc_taxi/src/mlops_pipeline.py
Due: .azure-pipelines/london_taxi_cd_pipeline.yml, .azure-pipelines/london_taxi_ci_dev_pipeline.yml, .azure-pipelines/london_taxi_ci_pipeline.yml, .azure-pipelines/london_taxi_pr_pipeline.yml, .azure-pipelines/nyc_taxi_ci_pipeline.yml, .azure-pipelines/nyc_taxi_data_pipeline.yml

updated workflows
  .azure-pipelines/docker_taxi_cd_pipeline.yml
  .azure-pipelines/docker_taxi_ci_pipeline.yml
  .azure-pipelines/templates/platform_ci_pipeline.yml
  .github/workflows/docker_taxi_cd_pipeline.yml
  .github/workflows/docker_taxi_ci_pipeline.yml
  .github/workflows/docker_taxi_pr_pipeline.yml
  .github/workflows/london_taxi_cd_pipeline.yml
  .github/workflows/platform_ci_workflow.yml
Due: .azure-pipelines/custom_objectdetection_ci_pipeline.yml, .azure-pipelines/custom_objectdetection_pr_pipeline.yml, .azure-pipelines/diabetes_ci_pipeline.yml, .azure-pipelines/diabetes_pr_pipeline.yml, .azure-pipelines/docker_taxi_ci_pipeline.yml, .azure-pipelines/docker_taxi_pr_pipeline.yml, .azure-pipelines/london_taxi_cd_pipeline.yml, .azure-pipelines/london_taxi_ci_dev_pipeline.yml, .azure-pipelines/london_taxi_ci_pipeline.yml, .azure-pipelines/london_taxi_pr_pipeline.yml, .azure-pipelines/nyc_taxi_ci_pipeline.yml, .azure-pipelines/nyc_taxi_data_pipeline.yml

Renamed workflows and updated CI / CD workflows (#178)
  .azure-pipelines/docker_taxi_cd_pipeline.yml
  .azure-pipelines/docker_taxi_ci_pipeline.yml
  .azure-pipelines/london_taxi_cd_pipeline.yml
  .azure-pipelines/london_taxi_ci_pipeline.yml
  .azure-pipelines/nyc_taxi_cd_pipeline.yml
  .azure-pipelines/nyc_taxi_ci_pipeline.yml
  .azure-pipelines/templates/platform_cd_pipeline.yml
  .azure-pipelines/templates/platform_ci_pipeline.yml
  .azure-pipelines/templates/platform_pr_pipeline.yml
  .github/workflows/docker_taxi_cd_pipeline.yml
  .github/workflows/docker_taxi_ci_pipeline.yml
  .github/workflows/docker_taxi_pr_pipeline.yml
  .github/workflows/london_taxi_cd_pipeline.yml
  .github/workflows/london_taxi_ci_pipeline.yml
  .github/workflows/london_taxi_pr_pipeline.yml
  .github/workflows/nyc_taxi_cd_pipeline.yml
  .github/workflows/nyc_taxi_ci_pipeline.yml
  .github/workflows/nyc_taxi_pr_pipeline.yml
  .github/workflows/platform_cd_workflow.yml
  .github/workflows/platform_ci_workflow.yml
  .github/workflows/platform_pr_workflow.yml
  docs/design-decisions/ModelPromotion.md
  docs/how-to/GettingStarted.md
  docs/how-to/OnboardingNewModel.md
  docs/how-to/TestInitialSetup.md
Due: .azure-pipelines/custom_objectdetection_ci_pipeline.yml, .azure-pipelines/custom_objectdetection_pr_pipeline.yml, .azure-pipelines/diabetes_ci_pipeline.yml, .azure-pipelines/diabetes_pr_pipeline.yml, .azure-pipelines/docker_taxi_ci_pipeline.yml, .azure-pipelines/docker_taxi_pr_pipeline.yml, .azure-pipelines/london_taxi_cd_pipeline.yml, .azure-pipelines/london_taxi_ci_dev_pipeline.yml, .azure-pipelines/london_taxi_ci_pipeline.yml, .azure-pipelines/london_taxi_pr_pipeline.yml, .azure-pipelines/nyc_taxi_ci_pipeline.yml, .azure-pipelines/nyc_taxi_data_pipeline.yml

removed execute shell code from github workflows
  .github/actions/execute_shell_code/action.yml
  .github/workflows/docker_taxi_cd_pipeline.yml
  .github/workflows/docker_taxi_ci_pipeline.yml
  .github/workflows/platform_cd_workflow.yml
  .github/workflows/platform_ci_workflow.yml
  .github/workflows/register_data_assets.yml
Due: none

update start params
  mlops/docker_taxi/start_local_pipeline.py
  mlops/nyc_taxi/start_local_pipeline.py
Due: .azure-pipelines/docker_taxi_ci_pipeline.yml, .azure-pipelines/docker_taxi_pr_pipeline.yml, .azure-pipelines/nyc_taxi_ci_pipeline.yml, .azure-pipelines/nyc_taxi_data_pipeline.yml

formats needed by flake8
  mlops/common/naming_utils.py
  mlops/common/pipeline_job_config.py
  mlops/common/pipeline_utils.py
  mlops/docker_taxi/src/mlops_pipeline.py
  mlops/london_taxi/src/mlops_pipeline.py
  mlops/nyc_taxi/src/mlops_pipeline.py
Due: .azure-pipelines/custom_objectdetection_ci_pipeline.yml, .azure-pipelines/custom_objectdetection_pr_pipeline.yml, .azure-pipelines/diabetes_ci_pipeline.yml, .azure-pipelines/diabetes_pr_pipeline.yml, .azure-pipelines/docker_taxi_ci_pipeline.yml, .azure-pipelines/docker_taxi_pr_pipeline.yml, .azure-pipelines/london_taxi_cd_pipeline.yml, .azure-pipelines/london_taxi_ci_dev_pipeline.yml, .azure-pipelines/london_taxi_ci_pipeline.yml, .azure-pipelines/london_taxi_pr_pipeline.yml, .azure-pipelines/nyc_taxi_ci_pipeline.yml, .azure-pipelines/nyc_taxi_data_pipeline.yml

condensed steps
  .github/actions/aml_real_deployment/action.yml
  .github/actions/configure_azureml_agent/action.yml
  .github/workflows/platform_cd_workflow.yml
  .github/workflows/platform_ci_workflow.yml
  .github/workflows/register_data_assets.yml
Due: none

quote composit
  .github/workflows/platform_cd_workflow.yml
  .github/workflows/platform_ci_workflow.yml
Due: none

add checkout
  .github/actions/configure_azureml_agent/action.yml
  .github/workflows/platform_cd_workflow.yml
  .github/workflows/platform_ci_workflow.yml
Due: none

Fixes bug where files are copied to incorrect dir for batch deployment
  .github/workflows/platform_ci_workflow.yml
Due: none

Interogates copied files at batch endpoint
  .github/workflows/platform_ci_workflow.yml
Due: none

Further inspects copied files
  .github/workflows/platform_ci_workflow.yml
Due: none

Inspects python working directory files for file discrepancy
  model/sequence_model/batch/score.py
Due: none

Updates pathing for config file reference
  model/sequence_model/batch/score.py
Due: none

Linting
  model/sequence_model/batch/score.py
Due: none

Updates csv file reference from hard-coded to dynamic for batch endpoint test
  model/sequence_model/batch/score.py
Due: none

Passes required param to predict()
  model/sequence_model/batch/score.py
Due: none

Adds prints to decode data formatting on batch endpoint
  model/sequence_model/batch/score.py
Due: none

Updates workflows to execute on push and pr, removing testing changes
  .github/workflows/nyc_taxi_ci_pipeline.yml
  .github/workflows/platform_ci_workflow.yml
  .github/workflows/sequence_model_ci_pipeline.yml
  .github/workflows/sequence_model_pr_pipeline.yml
  model/sequence_model/batch/score.py
Due: none

Updates ci/cd workflows to copy appropriate files for endpoints
  .github/workflows/platform_cd_workflow.yml
Due: none

Makes file copy a single step
  .github/workflows/platform_cd_workflow.yml
Due: none

Renames pr/ci to ci/cd
  .github/workflows/sequence_model_cd_pipeline.yml
  .github/workflows/sequence_model_ci_pipeline.yml
  .github/workflows/sequence_model_pr_pipeline.yml
Due: none

Fixes workflow file reference for seq model
  .github/workflows/sequence_model_cd_pipeline.yml
  .github/workflows/sequence_model_ci_pipeline.yml
Due: none

Pins variables in function calls
  mlops/sequence_model/src/mlops_pipeline.py
Due: none

Adds more variable pinning in function calls. Fixes linter issues.
  mlops/sequence_model/src/mlops_pipeline.py
Due: none

Fixes variable name
  mlops/sequence_model/src/mlops_pipeline.py
Due: none

Adds testing trigger to be removed for CD pipeline for seq model
  .github/workflows/sequence_model_cd_pipeline.yml
Due: none

Updates deployment config for seq model
  .github/workflows/sequence_model_cd_pipeline.yml
  config/config.yaml
Due: none

Updates batch deployment config
  config/config.yaml
Due: none

Fixes endpoint desc bug
  config/config.yaml
Due: none

Updates CD trigger of seq model to be on push to main
  .github/workflows/sequence_model_cd_pipeline.yml
Due: none

Try a longer timeout to see if it fixes issue with expired token
  config/config.yaml
Due: none

Update config.yaml
  config/config.yaml
Due: none

Adds manual trigger for CD workflow to test authentication timeout bug
  .github/workflows/sequence_model_cd_pipeline.yml
Due: none
