Repository microsoft/dstoolkit-mlops-v2: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/custom_objectdetection_ci_pipeline.yml, .azure-pipelines/custom_objectdetection_pr_pipeline.yml, .azure-pipelines/diabetes_ci_pipeline.yml, .azure-pipelines/diabetes_pr_pipeline.yml, .azure-pipelines/london_taxi_ci_dev_pipeline.yml, .azure-pipelines/london_taxi_ci_pipeline.yml, .azure-pipelines/nyc_taxi_ci_pipeline.yml, .azure-pipelines/nyc_taxi_data_pipeline.yml

Path conditions:
  .azure-pipelines/custom_objectdetection_ci_pipeline.yml: any of: .azure-pipelines, mlops/common, mlops/custom_objectdetection, src/custom_objectdetection_src, model/custom_objectdetection, src/shared
  .azure-pipelines/custom_objectdetection_pr_pipeline.yml: any of: .azure-pipelines, mlops/common, mlops/custom_objectdetection, src/custom_objectdetection_src, model/custom_objectdetection, src/shared
  .azure-pipelines/diabetes_ci_pipeline.yml: any of: .azure-pipelines, mlops/common, mlops/diabetes, src/diabetes, model/diabetes, src/shared
  .azure-pipelines/diabetes_pr_pipeline.yml: any of: .azure-pipelines, mlops/common, mlops/diabetes, src/diabetes, model/diabetes, src/shared
  .azure-pipelines/london_taxi_ci_dev_pipeline.yml: any of: .azure-pipelines, mlops/common, mlops/london_taxi, src/london_src, model/london_taxi, src/shared
  .azure-pipelines/london_taxi_ci_pipeline.yml: any of: .azure-pipelines, mlops/common, mlops/london_taxi, src/london_src, model/london_taxi, src/shared
  .azure-pipelines/nyc_taxi_ci_pipeline.yml: any of: .azure-pipelines, mlops/common, mlops/nyc_taxi, src/nyc_src, model/nyc_taxi, src/shared
  .azure-pipelines/nyc_taxi_data_pipeline.yml: any of: .azure-pipelines, mlops/common, mlops/nyc_taxi, src/nyc_src, model/nyc_taxi, src/shared

add missing input
  .github/workflows/platform_pr_workflow.yml
Due: none

update if condition
  .github/workflows/build_validation_workflow.yml
Due: none

revert if condition
  .github/workflows/build_validation_workflow.yml
Due: none

add inputs
  .github/workflows/platform_pr_workflow.yml
Due: none

see if we can move flake8 steps
  .github/workflows/build_validation_workflow.yml
Due: none

move flake8 back
  .github/workflows/build_validation_workflow.yml
Due: none

fix typo
  .github/workflows/build_validation_workflow.yml
Due: none

change branch name in pr workflows from development to main (#159)
  .github/workflows/london_taxi_ci_pipeline.yml
  .github/workflows/london_taxi_pr_pipeline.yml
  .github/workflows/nyc_taxi_ci_pipeline.yml
  .github/workflows/nyc_taxi_pr_pipeline.yml
Due: none

clean up
  mlops/common/get_registered_models.py
Due: .azure-pipelines/custom_objectdetection_ci_pipeline.yml, .azure-pipelines/custom_objectdetection_pr_pipeline.yml, .azure-pipelines/diabetes_ci_pipeline.yml, .azure-pipelines/diabetes_pr_pipeline.yml, .azure-pipelines/london_taxi_ci_dev_pipeline.yml, .azure-pipelines/london_taxi_ci_pipeline.yml, .azure-pipelines/nyc_taxi_ci_pipeline.yml, .azure-pipelines/nyc_taxi_data_pipeline.yml

change the login using tennat and client id
  .github/workflows/cleanup_model_artifacts.yml
Due: none

clean up doc
  docs/how-to/ModelFactoryAssetMgmt.md
Due: none

add prints
  .github/workflows/register_data_assets.yml
  mlops/common/get_registered_models.py
Due: .azure-pipelines/custom_objectdetection_ci_pipeline.yml, .azure-pipelines/custom_objectdetection_pr_pipeline.yml, .azure-pipelines/diabetes_ci_pipeline.yml, .azure-pipelines/diabetes_pr_pipeline.yml, .azure-pipelines/london_taxi_ci_dev_pipeline.yml, .azure-pipelines/london_taxi_ci_pipeline.yml, .azure-pipelines/nyc_taxi_ci_pipeline.yml, .azure-pipelines/nyc_taxi_data_pipeline.yml

clean up linting
  mlops/common/delete_registered_models.py
Due: .azure-pipelines/custom_objectdetection_ci_pipeline.yml, .azure-pipelines/custom_objectdetection_pr_pipeline.yml, .azure-pipelines/diabetes_ci_pipeline.yml, .azure-pipelines/diabetes_pr_pipeline.yml, .azure-pipelines/london_taxi_ci_dev_pipeline.yml, .azure-pipelines/london_taxi_ci_pipeline.yml, .azure-pipelines/nyc_taxi_ci_pipeline.yml, .azure-pipelines/nyc_taxi_data_pipeline.yml

add dependencies
  .github/requirements/build_validation_requirements.txt
  .github/requirements/execute_job_requirements.txt
Due: none

revert back registered
  .github/workflows/register_data_assets.yml
Due: none

first draft changes to asset management
  .github/workflows/cleanup_model_artifacts.yml
  docs/how-to/ModelFactoryAssetMgmt.md
  docs/media/cleanup-registered-models.png
  docs/media/delete-job-types.png
  docs/media/delete-model-artifacts.png
  docs/media/get-model-artifacts.png
  mlops/common/deployment/delete_registered_models.py
  mlops/common/deployment/get_registered_models.py
Due: .azure-pipelines/custom_objectdetection_ci_pipeline.yml, .azure-pipelines/custom_objectdetection_pr_pipeline.yml, .azure-pipelines/diabetes_ci_pipeline.yml, .azure-pipelines/diabetes_pr_pipeline.yml, .azure-pipelines/london_taxi_ci_dev_pipeline.yml, .azure-pipelines/london_taxi_ci_pipeline.yml, .azure-pipelines/nyc_taxi_ci_pipeline.yml, .azure-pipelines/nyc_taxi_data_pipeline.yml

linting clean up
  mlops/common/delete_registered_models.py
Due: .azure-pipelines/custom_objectdetection_ci_pipeline.yml, .azure-pipelines/custom_objectdetection_pr_pipeline.yml, .azure-pipelines/diabetes_ci_pipeline.yml, .azure-pipelines/diabetes_pr_pipeline.yml, .azure-pipelines/london_taxi_ci_dev_pipeline.yml, .azure-pipelines/london_taxi_ci_pipeline.yml, .azure-pipelines/nyc_taxi_ci_pipeline.yml, .azure-pipelines/nyc_taxi_data_pipeline.yml

added core dependency
  .github/requirements/build_validation_requirements.txt
Due: none

change folder
  mlops/common/delete_registered_models.py
  mlops/common/get_registered_models.py
Due: .azure-pipelines/custom_objectdetection_ci_pipeline.yml, .azure-pipelines/custom_objectdetection_pr_pipeline.yml, .azure-pipelines/diabetes_ci_pipeline.yml, .azure-pipelines/diabetes_pr_pipeline.yml, .azure-pipelines/london_taxi_ci_dev_pipeline.yml, .azure-pipelines/london_taxi_ci_pipeline.yml, .azure-pipelines/nyc_taxi_ci_pipeline.yml, .azure-pipelines/nyc_taxi_data_pipeline.yml

update default
  .github/workflows/cleanup_model_artifacts.yml
Due: none

remove duplicate
  config/data_config.json
Due: none

temporarily make pr trigger
  .github/workflows/register_data_assets.yml
Due: none

temporarily change to pr trigger
  .github/workflows/custom_objectdetection_ci_pipeline.yml
Due: none

restore trigger
  .github/workflows/register_data_assets.yml
Due: none

update setup-python action version
  .github/actions/configure_azureml_agent/action.yml
  .github/workflows/build_validation_workflow.yml
Due: none

commit the changes for asset management
  .github/requirements/execute_job_requirements.txt
  .github/workflows/cleanup_model_artifacts.yml
  mlops/common/deployment/delete_registered_models.py
  mlops/common/deployment/get_registered_models.py
Due: .azure-pipelines/custom_objectdetection_ci_pipeline.yml, .azure-pipelines/custom_objectdetection_pr_pipeline.yml, .azure-pipelines/diabetes_ci_pipeline.yml, .azure-pipelines/diabetes_pr_pipeline.yml, .azure-pipelines/london_taxi_ci_dev_pipeline.yml, .azure-pipelines/london_taxi_ci_pipeline.yml, .azure-pipelines/nyc_taxi_ci_pipeline.yml, .azure-pipelines/nyc_taxi_data_pipeline.yml

fix linting
  mlops/common/deployment/delete_registered_models.py
  mlops/common/deployment/get_registered_models.py
Due: .azure-pipelines/custom_objectdetection_ci_pipeline.yml, .azure-pipelines/custom_objectdetection_pr_pipeline.yml, .azure-pipelines/diabetes_ci_pipeline.yml, .azure-pipelines/diabetes_pr_pipeline.yml, .azure-pipelines/london_taxi_ci_dev_pipeline.yml, .azure-pipelines/london_taxi_ci_pipeline.yml, .azure-pipelines/nyc_taxi_ci_pipeline.yml, .azure-pipelines/nyc_taxi_data_pipeline.yml

restore triggers
  .github/workflows/custom_objectdetection_ci_pipeline.yml
Due: none

fix linting
  mlops/common/deployment/get_registered_models.py
Due: .azure-pipelines/custom_objectdetection_ci_pipeline.yml, .azure-pipelines/custom_objectdetection_pr_pipeline.yml, .azure-pipelines/diabetes_ci_pipeline.yml, .azure-pipelines/diabetes_pr_pipeline.yml, .azure-pipelines/london_taxi_ci_dev_pipeline.yml, .azure-pipelines/london_taxi_ci_pipeline.yml, .azure-pipelines/nyc_taxi_ci_pipeline.yml, .azure-pipelines/nyc_taxi_data_pipeline.yml

add documents
  docs/how-to/ModelFactoryAssetMgmt.md
  docs/media/cleanup-registered-models.png
  docs/media/delete-job-types.png
  docs/media/delete-model-artifacts.png
  docs/media/get-model-artifacts.png
Due: none

fix trigger
  .github/workflows/custom_objectdetection_ci_pipeline.yml
Due: none

cache dir
  .azure-pipelines/templates/build_validation_pipeline.yml
  .azure-pipelines/templates/configure_azureml_agent.yml
Due: .azure-pipelines/custom_objectdetection_ci_pipeline.yml, .azure-pipelines/custom_objectdetection_pr_pipeline.yml, .azure-pipelines/diabetes_ci_pipeline.yml, .azure-pipelines/diabetes_pr_pipeline.yml, .azure-pipelines/london_taxi_ci_dev_pipeline.yml, .azure-pipelines/london_taxi_ci_pipeline.yml, .azure-pipelines/nyc_taxi_ci_pipeline.yml, .azure-pipelines/nyc_taxi_data_pipeline.yml

indent
  .azure-pipelines/london_taxi_pr_pipeline.yml
  .azure-pipelines/nyc_taxi_pr_pipeline.yml
Due: .azure-pipelines/custom_objectdetection_ci_pipeline.yml, .azure-pipelines/custom_objectdetection_pr_pipeline.yml, .azure-pipelines/diabetes_ci_pipeline.yml, .azure-pipelines/diabetes_pr_pipeline.yml, .azure-pipelines/london_taxi_ci_dev_pipeline.yml, .azure-pipelines/london_taxi_ci_pipeline.yml, .azure-pipelines/nyc_taxi_ci_pipeline.yml, .azure-pipelines/nyc_taxi_data_pipeline.yml

var
  .azure-pipelines/london_taxi_pr_pipeline.yml
  .azure-pipelines/nyc_taxi_pr_pipeline.yml
Due: .azure-pipelines/custom_objectdetection_ci_pipeline.yml, .azure-pipelines/custom_objectdetection_pr_pipeline.yml, .azure-pipelines/diabetes_ci_pipeline.yml, .azure-pipelines/diabetes_pr_pipeline.yml, .azure-pipelines/london_taxi_ci_dev_pipeline.yml, .azure-pipelines/london_taxi_ci_pipeline.yml, .azure-pipelines/nyc_taxi_ci_pipeline.yml, .azure-pipelines/nyc_taxi_data_pipeline.yml

sanity CI pipeline
  .github/workflows/sanity.yml
Due: none

feedback
  mlops/common/get_compute.py
  mlops/common/get_workspace.py
  mlops/nyc_taxi/src/mlops_pipeline.py
Due: .azure-pipelines/custom_objectdetection_ci_pipeline.yml, .azure-pipelines/custom_objectdetection_pr_pipeline.yml, .azure-pipelines/diabetes_ci_pipeline.yml, .azure-pipelines/diabetes_pr_pipeline.yml, .azure-pipelines/london_taxi_ci_dev_pipeline.yml, .azure-pipelines/london_taxi_ci_pipeline.yml, .azure-pipelines/nyc_taxi_ci_pipeline.yml, .azure-pipelines/nyc_taxi_data_pipeline.yml

auth error
  mlops/london_taxi/src/mlops_pipeline.py
Due: .azure-pipelines/london_taxi_ci_dev_pipeline.yml, .azure-pipelines/london_taxi_ci_pipeline.yml

make lowercase
  .github/workflows/build_validation_workflow.yml
  .github/workflows/custom_objectdetection_pr_pipeline.yml
  .github/workflows/platform_pr_workflow.yml
Due: none

update echo
  .azure-pipelines/templates/platform_pr_pipeline.yml
Due: .azure-pipelines/custom_objectdetection_ci_pipeline.yml, .azure-pipelines/custom_objectdetection_pr_pipeline.yml, .azure-pipelines/diabetes_ci_pipeline.yml, .azure-pipelines/diabetes_pr_pipeline.yml, .azure-pipelines/london_taxi_ci_dev_pipeline.yml, .azure-pipelines/london_taxi_ci_pipeline.yml, .azure-pipelines/nyc_taxi_ci_pipeline.yml, .azure-pipelines/nyc_taxi_data_pipeline.yml
